/*
Name: Darren Puffer
File: lab1part1.css
Date: 16 May 2024
This is the style sheet for Lab 1 Part 1 page for Web Development - Fundamentals (INFT1206)
*/

body {
  max-width: 800px;
  margin: 0 auto;
}

.sender-column {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}